.taxonomiesGrid {
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

@media (max-width: 1024px) {
  .taxonomiesGrid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .taxonomiesGrid {
    grid-template-columns: 1fr;
    padding: 1rem;
    gap: 1.5rem;
  }
}
